html{
  scroll-behavior: smooth;
}
#root{
  min-height: 100vh;
}
@media (max-width: 920px) {
  h1{
    margin: 0.2em;
    line-height: 1.3;
  }
}
body::-webkit-scrollbar {
  background-color: #6e6e6e;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #727272;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #727272;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #141414;
  line-height: 1.5;
  font-family: -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.films{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 5px;
  @media (max-width: 1075px) {
    justify-content: center;
  }
}
.film__item{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: -webkit-fill-available;
  border-radius: 5px;
  flex-basis: 24%;
  background-color: #6b6b6b;
  transition: .1s linear;
  cursor: pointer;
  &:hover{
    .film__overlay{
      opacity: 1;
    }
  }
  @media (max-width: 1175px) {
    flex-basis: 32%;
  }
  @media (max-width: 960px) {
    flex-basis: 48%;
  }
  @media (max-width: 650px) {
    flex-basis: 70%;
  }
  @media (max-width: 500px) {
    flex-basis: 100%;
  }
}


.film__overlay{
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.film__img{
  max-height: 406px;
  height: 100%;
  border-radius: 5px;
  display: block;
  max-width: 100%;
  @media (max-width: 1175px) {
    width: 100%;
  }
}


.film__img-null{
  background-color: #6b6b6b;
}


.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  grid-gap: 5px;
  max-width: 700px;
  padding: 8px;
  border-radius: 5px;
  background: rgb(51, 51, 51);
  margin: 30px auto;
  @media (max-width: 740px){
    overflow-x: auto;
    justify-content: flex-start;
    max-width: 100%;
  }
}

.pagination__page{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  font-size: 18px;
  transition: .1s linear;
  border: 1px solid #3a3a3a;
  &:hover{
    color: #ff355b;
    background-color: #454545;
  }
  &.active{
    color: #dedede;
    background-color: #737373;
  }
}
.pagination__button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #3a3a3a;
  min-height: 42px;
  min-width: 90px;
  &:hover{
    color: #ff355b;
    background-color: #454545;
  }
}

